body {
    background-image: url(../img/saveairport/480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.420);
    background-color: #fff;
    transition: 0.3s;
    width: 95%;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:last-child {
    margin-bottom: 2em;
}

.slide {
    margin: auto 1em;
    animation: fade 1.5s;
    display: none;
}

.active {
    display: block;
}

.card img {
    width: 100%;
    aspect-ratio: 16/9;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.01, 1.01);
}

.card_info {
    margin: 0.5em;
    font-weight: 300;
}

.card_technical_info {
    margin-top: 0.5em;
}

dt {
    font-weight: 600;
    margin-top: 0.2em
}

@media screen and (min-width: 700px) {
    body {
        background-image: url(../img/saveairport/720.jpg);
    }
}

@media screen and (min-width: 1000px) {
    body {
        background-image: url(../img/saveairport/1080.jpg);
    }

    main {
        display: block;
    }

    .card {
        width: 47%;
        margin: 1em;
        padding: 1em 0;
        float: left;
        clear: both;
    }

    .card:not(:first-child) {
        margin-top: -200px;
    }

    .card:nth-of-type(2n) {
        float: right;
    }

    .slide {
        margin: auto;
        width: 90%;
    }

    .card picture {
        width: 100%;
    }

    .card_info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .card_info p {
        width: 60%;
    }

    .card_technical_info {
        width: 20%;
        margin: 0;
    }

}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}