@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

header {
    height: 80px;
    padding: 5px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 60%;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

#burgerButton {
    height: 75%
}

#navItems {
    width: 100%;
    background-color: aqua;
    left: 0;
    padding: 5px;
    text-align: center;
    list-style: none;
    top: 80px;
    height: 80px;
    visibility: hidden;
    overflow-y: hidden;
    position: absolute;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}


@keyframes fadeIn {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}